<p class="alert alert-error">{{ 'rz_user_security.lockout_message'|trans({},'RzUserSecurityBundle') }}</p>
{% if show_counter is defined and show_counter %}
    <p id="{{ id }}" class="alert alert-error" style="font-size:20px !important;font-weight:bold;text-align:center;">&nbsp;</p>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function($){
            jQuery('#{{ id }}').countdown({
                interval : {
                    hour   : {{ interval.h}},
                    minute : {{ interval.i}},
                    second : {{ interval.s}}
                },
                callback  : {
                    onEnd : function(e) {
                        $('#{{ id }}').html('{{ 'rz_user_security.redirecting'|trans({},'RzUserSecurityBundle') }}');
                        window.location = "{{ url('fos_user_security_login') }}";
                    }
                },
                format : ['{{ 'rz_user_security.format.hour_min_sec'|trans({},'RzUserSecurityBundle') }}',
                    '{{ 'rz_user_security.format.min_sec'|trans({},'RzUserSecurityBundle') }}',
                    '{{ 'rz_user_security.format.sec'|trans({},'RzUserSecurityBundle') }}']
            });
        });
        //]]>
    </script>
{% endif %}